[Unit]
Description=Concierge
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/node /var/lib/snips/skills/Snips/index.js

[Install]
WantedBy=multi-user.target
