[Unit]
Description=Concierge
[Service]
Type=simple
User=%i
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/node /var/lib/snips/skills/Snips/index.js
[Install]
WantedBy=multi-user.target
